<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Галерея</a>

    <form class="container-fluid" novalidate [formGroup]="formImport">
        <div class="input-group">

            <div class="custom-file">
                <input type="file" class="custom-file-input" formControlName="importFile" id="importFile" (change)="onFileChange($event.target.files)">
                <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i>Выбрать файл</label>
            </div>

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="import()"><i class="fas fa-file-import"></i>
                 Загрузить</button>
            </div>

        </div>
    </form>
</nav>

<ul class="row">
    <li *ngFor="let img of imageList" class="col-md-1">
        <div class="text-center p-1">
            <img class="rounded img-thumbnail" src="{{'data:image/jpg;base64,'+img.pictures}}" (click)="navigateToId(img.id)" />
        </div>
    </li>    
</ul>
<!-- <div class="text-center">
    <button class="btn btn-outline-secondary" type="button" (click)="open()"><i class="fas fa-file-import"></i>Модалка</button>
</div> -->
